.best-list-item{
  display: flex;
  .content {
    width: 200px;
    text-align: center;

    .product-img {
      flex: 1;
      text-align: center;
    }
    .product-info {
      flex: 2;
      text-align: center;
      font-size: 10pt;
    }
  }

}