#main {
}
#event-notice {
  text-align: center;
  background-color: #3255ff;
  width: 100vw;
  height: 100px;
  font-size: 20pt;
  font-weight: bold;
  margin: 20px 0 20px 0;
  line-height: 100px;
}

#parent {
  display: flex;
  text-align: center;

  #left-list {
    flex: 1;
    text-align: center;
  }

  #main-list {
    flex: 2;
    text-align: center;
  }

  #right-list {
    flex: 1;
    text-align: center;
  }

}