a {
  text-decoration: none;
}
a:hover{
  color: blue;
}


#top {
  display: flex;
}

#logo-img {
  flex: 1;
  height: 100px;
  font-size: 23pt;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  padding-left: 10px;
  background-color: deepskyblue;
}
#nav {
  flex: 3;
  width: 100vw;
}

#nav #page-nav {
  background-color: yellow;
  text-align: right;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#page-nav li {
  flex: 1;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

#nav #search {
  background-color: aqua;
  height: 50px;
  line-height: 50px;
  text-align: right;
  padding-right: 50px;
}

#nav #search input, button {
  padding: 0;
  margin: 0;
  height: 25px;
  line-height: 25px;
}
#nav #search input {
  margin: 10px;
}


#category-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
#category-nav li {
  flex: 1;
  border: 1px solid silver;
  text-align: center;
  height: 30px;
  line-height: 30px;
}


footer {
  background-color: aquamarine;
  width: 100vw;
  text-align: center;
}
footer #footer-nav {
  width: 700px;
  display: inline-block;
  list-style: none;
}
footer #footer-nav div{
  display: flex;
}
footer #footer-nav li {
  flex: 1;
  padding: 10px;
}

#company {
  display: flex;
  background-color: cornflowerblue;
}
#company .logo {
  padding: 20px;
  height: 170px;
  flex: 1;
}
#company .company-info {
  padding: 20px;
  height: 170px;
  text-align: left;
  flex: 2;
}