@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
body {
  font-family : 'Nanum Gothic';
}

a {
  text-decoration: none;
  color:  #3255ff;
}
a:hover{
  color: skyblue;
}


#top {
  display: flex;
}

#logo-img {
  flex: 1;
  height: 100px;
  font-size: 23pt;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  padding-left: 10px;
  background-color: white;
}
#nav {
  flex: 3;
  width: 100vw;
}

#nav #page-nav {
  background-color: white;
  text-align: right;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#page-nav li {
  flex: 1;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

#nav #search {
  background-color: white;
  height: 50px;
  line-height: 50px;
  text-align: right;
  padding-right: 50px;
}

#nav #search input, button {
  padding: 0;
  margin: 0;
  height: 25px;
  line-height: 25px;
}
#nav #search input {
  margin: 10px;
}


#category-nav {
  display: flex;
  width: 100vw;
  list-style: none;
  margin: 0;
  padding: 0;
}
#category-nav .category-item {
  flex: 1;
  margin: 10px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}


footer {
  width: 100vw;
  text-align: center;
}
footer #footer-nav {
  width: 700px;
  display: inline-block;
  list-style: none;
  margin: 20px 0 20px 0;
}
footer #footer-nav div{
  display: flex;
  border-top: 0.1px solid silver;
  border-bottom: 0.1px solid silver;
}
footer #footer-nav li {
  flex: 1;
  padding: 10px;
}

#company {
  display: flex;
  background-color: #EBE5D9;
}
#company .logo {
  padding: 20px;
  height: 170px;
  flex: 1;
}
#company .company-info {
  padding: 20px;
  height: 170px;
  text-align: left;
  flex: 2;
}

.list-body {
  padding: 0 30px 0 30px;
}

.borderRadius {
  border: 1px solid silver;
  border-radius: 10px;
  padding: 10px;
}
#category-nav li {
  border: 1px solid silver;
  border-radius: 20px;
}